
$height: 200px;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// 圣杯布局
.container {
  height: $height;
  padding-left: 100px;
  padding-right: 150px;
  background-color: #eee;
  .center {
    height: 100%;
    width: 100%;
    background-color: bisque;
    float: left;
  }
  .left {
    height: 100%;
    width: 100px;
    background-color: lightgreen;
    float: left;
    position: relative;
    left: -100px;
    margin-left: -100%;
  }
  .right {
    height: 100%;
    width: 150px;
    background-color: lightcoral;
    float: left;
    margin-right: -150px;
  }
}

// 双飞翼布局
#main {
  float: left;
  width: 100%;
  height: $height;
  .inner {
    height: 100%;
    margin: 0 100px;
    background-color: lightblue;
  }
}
#left {
  height: $height;
  width: 100px;
  float: left;
  background-color: rgb(140, 219, 233);
  margin-left: -100%;
}
#right {
  height: $height;
  width: 100px;
  float: left;
  background-color: rgb(243, 241, 130);
  margin-left: -100px;
}

// 两栏布局
.twoSide1 {
  height: $height;
  .left {
    width: 200px;
    height: 100%;
    float: left;
    background-color: rgb(163, 107, 107);
  }
  .right {
    height: 100%;
    margin-left: 200px;
    background-color: rgb(89, 64, 64);
  }
}

.brc {
  height: $height;
  .left {
    height: 100%;
    width: 300px;
    float: left;
    background-color: rgb(160, 112, 50);
  }
  .right {
    overflow: hidden;
    height: 100%;
    background-color: rgb(222, 138, 107);
  }
}

.flex {
  height: $height;
  display: flex;
  .left {
    height: 100%;
    width: 200px;
    background-color: rgb(229, 219, 111);
  }
  .right {
    height: 100%;
    flex: 1;
    background-color: rgb(196, 225, 131);
  }
}

.abso {
  position: relative;
  height: $height;
  .left {
    position: absolute;
    height: 100%;
    width: 150px;
    background-color: rgb(227, 93, 93);
  }
  .right {
    height: 100%;
    margin-left: 150px;
    background-color: rgb(163, 87, 87);
  }
}

#abso {
  position: relative;
  height: $height;
  .left {
    width: 100px;
    height: 100%;
    background-color: rgb(112, 230, 254);
  }
  .right {
    position: absolute;
    height: 100%;
    left: 100px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(93, 214, 155);
  }
}

.tran {
  position: relative;
  height: $height;
  background-color: rgb(251, 176, 176);
  .inner {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
  }
}

.auto {
  height: $height;
  position: relative;
  background-color: rgb(196, 118, 118);
  .inner {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
  }
}